dj-database-url
Django==2.2.24
gunicorn
psycopg2-binary
pycpfcnpj
pyimgur
django-money
django-suit
pytz
django-search-views

requests==2.9.1
whitenoise==2.0.6
flake8==2.5.0
coverage==4.0.2
pyflakes==1.0.0
pylint==1.5.5
pylint-django==0.7.1
unittest-xml-reporting
jsmin
tblib
iso8601
selenium==2.53.6
django-ckeditor==5.0.3
pyfcm
pytz