{% extends 'panel/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    {% include 'utils/breadcrumb.html' with title='Adicionar Servico' subtitle='Adicione os serviços que você irá prestar para seus clientes dentro da plataforma.' link1='Serviços' link2='Adicionar Serviço' %}
    <div class="box box-primary" style="margin-top: 30px;">
        <div class="box-header">
            <h3 class="box-title">
                <center style="font-size: 20px;">Adicionar Serviço</center>
            </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.as_p }}
                    </div>
                </div>
                <hr/>
                <h3>Fotos</h3>
                <div class="row" id="space_fotos">
                    <div class="col-md-12">
                        {{ fotoservicoset.management_form }}
                        <table class="table">
                            {% for form in fotoservicoset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="fotoservicoset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <script src="{% static 'theme-store/js/jquery.formset.js' %}"></script>
                        <script type="text/javascript">
                            $('.fotoservicoset_row').formset({
                                addText: 'Inserir Fotos',
                                deleteText: 'Remover',
                                prefix: 'fotoservico_set'
                            });
                        </script>
                    </div>
                </div>
                <hr/>
            </div>
            <!-- /.box-body -->
            <div class=" box-footer ">
                <a href="{% url 'list-servicos' %}" id="btn_cancelar"
                   class="btn btn-default pull-left">Voltar</a>
                <button type="submit" id="btn_salvar" class="btn btn-primary pull-right">Adicionar
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[name=valor_base_1]').addClass('hidden');
            $('[name=valor_base_1]').attr('required', 'false');
            $('[name=valor_a_combinar]').click(function () {
                if ($(this).prop("checked") == true) {
                    $('[name=valor_base_0]').hide();
                    $('[name=valor_base_0]').attr('required', 'false');
                } else if ($(this).prop("checked") == false) {
                    $('[name=valor_base_0]').show();
                }
            });
            $('[name=valor_base]').change(function () {
                $(this).val($(this).val().replace(',', '.'))
            });
            $('[name=valor_base]').focusout(function () {
                $(this).val($(this).val().replace(',', '.'))
            });
            $('input[type=checkbox]').removeClass('form-control');
            $('.add-row').click(function (evt) {
                $('input[type=checkbox]').removeClass('form-control');
            });

            $('#sistema').addClass('active');
            $('#servicos').addClass('active');

            tour = new Tour({
                name: 'create_servico',
                backdrop: true,
                template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-default' data-role='prev'>« Anterior</button><span data-role='separator'>|</span><button id='prox' class='btn btn-default' data-role='next'>Próximo »</button><button id='fim' class='btn btn-default hidden' data-role='end'>Finalizar</button> </div></div>",
                steps: [
                    {
                        element: ".box.box-primary",
                        placement: "top",
                        title: "Adicionar Serviço",
                        content: "Aqui temos o formulário para criar um serviço."
                    },
                    {
                        element: ".box.box-primary",
                        placement: "top",
                        title: "Criar um Serviço",
                        content: "Através dos campos vamos definir o novo serviço criado."
                    },
                    {
                        element: "#id_titulo",
                        placement: "top",
                        title: "Título",
                        content: "Insira aqui o titulo do Serviço."
                    },
                    {
                        element: "#id_descricao",
                        placement: "top",
                        title: "Descrição",
                        content: "Insira aqui a descrição do Serviço."
                    },
                    {
                        element: "#id_valor_base_0",
                        placement: "top",
                        title: "Preço",
                        content: "Insira aqui o preço do Serviço."
                    },
                    {
                        element: "#id_disponivel",
                        placement: "top",
                        title: "Disponibilidade",
                        content: "Se este cupom não estiver mais ativo, desmarque esta caixa. Se não, deixe marcado. "
                    },
                    {
                        element: "#space_fotos",
                        placement: "top",
                        title: "Fotos",
                        content: "Use este espaço para adicionar as fotos dos seu serviço  a ser oferecido. "
                    },
                    {
                        element: "#id_fotoservico_set-0-file",
                        placement: "top",
                        title: "Campo de Foto",
                        content: "Clique neste espaço e indique qual foto você deseja fazer upload."
                    },
                    {
                        element: ".add-row",
                        placement: "top",
                        title: "Adicionar mais Fotos",
                        content: "Clique neste botão caso desejar adicionar mais fotos."
                    },
                    {
                        element: ".delete-row",
                        placement: "top",
                        title: "Remover Fotos",
                        content: "Clique neste botão caso desejar remover alguma foto."
                    },
                    {
                        element: "#btn_salvar",
                        title: "Salvar",
                        placement: "left",
                        content: "Utilize este botão para criar o novo serviço.",
                        onShow: function (tour) {
                            var timeOut = setTimeout(function () {
                                $('#fim').removeClass('hidden');
                                $('#prox').addClass('hidden');
                                timeOut = setTimeout(function () {
                                    $('#fim').removeClass('hidden');
                                    clearTimeout(timeOut);
                                }, 500);
                            }, 500);

                        }
                    }

                ]
            });
        });
    </script>
    <script>
        $('.add-row').addClass('btn btn-info');
    </script>

{% endblock %}