{% extends 'panel/base.html' %}
{% load staticfiles %}
{% load filters %}
{% load djmoney %}
{% block content %}

    <style>
        .small-box .icon {
            font-size: 70px;
        }
    </style>
    {% include 'utils/loading.html' %}
    <div class="row">
        <div class="col-lg-3 col-xs-6" id="servicos_realizado">
            <!-- small box -->
            <div class="small-box bg-aqua"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="Aqui fica registrado o número de serviços realizados dentro do
                                        mês corrente."
            >
                <div class="inner">
                    <h4>{{ user|get_qtd_servicos_realizados_mes }}</h4>

                    <p>Serviços Realizados</p>
                </div>
                <div class="icon">
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" id="servicos_andamento">
            <!-- small box -->
            <div class="small-box bg-green"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="Aqui fica registrado o número de serviços em andamento dentro do
                                        mês corrente."
            >
                <div class="inner">
                    <h4>{{ user|get_qtd_servicos_em_andamento }}</h4>

                    <p>Serviços em Andamento</p>
                </div>
                <div class="icon">
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" id="carrinhos_abertos">
            <!-- small box -->
            <div class="small-box bg-yellow"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="Aqui fica registrado a quantidade de pedidos de serviço que estão nos carrinhos dos clientes e que não foram finalizados
                 na loja do Suprir. Os clientes com seus respectivos números para contato ficam na tabela de Carrinhos em Aberto."
            >
                <div class="inner">
                    <h4>{{ user|get_carrinhos_em_aberto|length }}</h4>

                    <p>Pedidos de Serviço</p>
                </div>
                <div class="icon">
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" id="servicos_cadastrados">
            <!-- small box -->
            <div class="small-box bg-red"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="Aqui fica registrado o número de serviços cadastrados por você
                  dentro do sistema."
            >
                <div class="inner">
                    <h4>{{ user|get_qtd_meus_servicos_cadastrados }}</h4>

                    <p>Serviços Cadastrados</p>
                </div>
                <div class="icon">
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" id="contratos_de_servico">
                <div class="box-header">
                    <h3 class="box-title">
                        Contratos de Serviço
                    </h3>
                </div>
                <div class="box-header">
                    <button class="btn btn-default pull-left" onClick="document.location.reload(true)"><i
                            class="fa fa-refresh"></i> Atualizar
                    </button>
                </div>
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>CLIENTE</th>
                                        <th>ID</th>
                                        <th>TELEFONE</th>
                                        <th>VALOR TOTAL</th>
                                        <th>FORMA PAGAMENTO</th>
                                        <th>STATUS</th>
                                        <th>DOCUMENTO</th>
                                        <th>DATA</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contrato in contratos %}
                                        <tr>
                                            <td>
                                                {{ contrato.cliente.user.first_name }} {{ contrato.cliente.user.last_name }}
                                            </td>
                                            <td>
                                                {{ contrato.id }}
                                            </td>
                                            <td>{{ contrato.cliente.telefone_1 }}</td>
                                            <td>{% money_localize contrato.carrinho.valor_total %}</td>
                                            <td> {{ contrato.carrinho.forma_pagamento.forma }}</td>
                                            <td>
                                                {% if contrato.status == 'REALIZADO' %}
                                                    <label class="label label-success "
                                                           data-toggle="tooltip"
                                                           title=""
                                                           data-original-title="Os contratos que foram realizadas
                                                           com sucesso ficam com este status.">
                                                        {{ contrato.status }}
                                                    </label>
                                                {% elif contrato.status == 'EM ANDAMENTO' %}
                                                    <label class="label label-warning "
                                                           data-toggle="tooltip"
                                                           title=""
                                                           data-original-title="Os contratos que foram aceitos
                                                           pelos profissionais apos serem gerados,
                                                           ficam com este status.">
                                                        {{ contrato.status }}
                                                    </label>
                                                {% elif contrato.status == 'ABERTO' %}
                                                    <label class="label label-info "
                                                           data-toggle="tooltip"
                                                           title=""
                                                           data-original-title="Os contratos que foram
                                                           gerados, porem ainda necessitam serem aprovados
                                                           pelos profissionais para darem andamento,
                                                           ficam com este status.">
                                                        {{ contrato.status }}
                                                    </label>
                                                {% else %}
                                                    <label class="label label-danger "
                                                           data-toggle="tooltip"
                                                           title=""
                                                           data-original-title="Os contratos que foram
                                                            rejeitados por algum motivo pelo profissional,
                                                            ficam identificadas desta forma em seu status.">
                                                        {{ contrato.status }}
                                                    </label>
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{% url 'documento-contrato-pro' contrato.pk %}" target="_blank" data-toggle="tooltip" title=""
                                                   data-original-title="Documento de Contrato {{ contrato.id }}">
                                                    <i class="fa fa-file-word-o fa-2x"></i>
                                                </a>
                                            </td>
                                            <td>
                                                {{ contrato.created_at|date:"d/m/Y G:i" }}
                                            </td>
                                            <td>
                                                <!-- <a href=""> <i
                                                        class="fa fa-eye"></i></a> -->
                                                <a href="{% url 'editar-contrato' contrato.id %}"
                                                   class="btn btn-default" data-toggle="tooltip" title=""
                                                   data-original-title="Visualizar Servicos do Contrato"> <i
                                                        class="fa fa-eye"></i></a>
                                            </td>
                                            <td>
                                                <!--<a href=""> <i
                                                        class="fa fa-trash-o"></i></a> -->
                                                {% if contrato.status == 'EM ANDAMENTO' %}
                                                    <a href="{% url 'finalizar-contrato' contrato.pk %}"
                                                       class="btn btn-default option" data-toggle="tooltip" title=""
                                                       data-original-title="Finalizar o Contrato {{ contrato.id }}"> <i
                                                            class="fa fa-sign-out"></i></a>
                                                {% elif contrato.status == 'ABERTO' %}
                                                    <a href="{% url 'andamento-contrato' contrato.pk %}"
                                                       class="btn btn-default option" data-toggle="tooltip" title=""
                                                       data-original-title="Dar andamento ao Contrato {{ contrato.id }}"> <i
                                                            class="fa fa-play-circle"></i></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <!--<a href=""> <i
                                                        class="fa fa-trash-o"></i></a> -->
                                                {% if contrato.status == 'EM ANDAMENTO' or contrato.status == 'ABERTO' %}
                                                    <a href="{% url 'rejeite-contrato-form' contrato.pk %}"
                                                       class="btn btn-default option" data-toggle="tooltip" title=""
                                                       data-original-title="Rejeitar o Contrato {{ contrato.id }}"><i
                                                            class="fa fa-close"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Legenda: <small>passe o mouse, ou clique em cima do item.</small></h5>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-3"
                             data-toggle="tooltip"
                             title=""
                             data-original-title="Os contratos que foram realizadas com sucesso ficam com este status.">
                            <i class="fa fa-check"></i> REALIZADO
                        </div>
                        <div class="col-sm-3" data-toggle="tooltip"
                             title=""
                             data-original-title="Os contratos que foram rejeitados por algum motivo pelo profissional,
                             ficam identificadas desta forma em seu status.">
                            <i class="fa fa-times"></i> REJEITADO
                        </div>
                        <div class="col-sm-3"
                             data-toggle="tooltip"
                             title=""
                             data-original-title="Os contratos que foram aceitos pelos profissionais apos serem gerados,
                             ficam com este status."
                        >
                            <i class="fa fa-exclamation"></i> EM ANDAMENTO
                        </div>
                        <div class="col-sm-3"
                             data-toggle="tooltip"
                             title=""
                             data-original-title="Os contratos que foram gerados, porem ainda necessitam serem aprovados pelos profissionais para darem andamento,
                             ficam com este status."
                        >
                            <i class=""></i> EM ABERTO
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" id="carrinhos_em_aberto">
                <div class="box-header">
                    <h3 class="box-title">
                        Carrinhos em Aberto (Possíveis pedidos de Serviço)
                    </h3>
                </div>
                <div class="box-header">
                </div>
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table_cart" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>CLIENTE</th>
                                        <th>ID</th>
                                        <th>TELEFONE</th>
                                        <th>DATA</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for carrinho in user|get_carrinhos_em_aberto %}
                                        <tr>
                                            <td>
                                                {{ carrinho.cliente.user.first_name }} {{ contrato.cliente.user.last_name }}
                                            </td>
                                            <td>
                                                {{ carrinho.id }}
                                            </td>
                                            <td>{{ carrinho.cliente.telefone_1 }}</td>
                                            <td>
                                                {{ carrinho.created_at|date:"d/m/Y G:i" }}
                                            </td>
                                            <td class="text-center">
                                                <!-- <a href=""> <i
                                                        class="fa fa-eye"></i></a> -->
                                                <a target="_blank"
                                                   href="https://api.whatsapp.com/send?phone={{ carrinho.cliente.telefone_1|get_numero_telefone_zap }}"
                                                   class="btn btn-default"> <i
                                                        class="fa fa-whatsapp"></i></a>
                                            </td>
                                            <td class="text-center">
                                                <!--<a href=""> <i
                                                        class="fa fa-trash-o"></i></a> -->
                                                <a href="tel:{{ carrinho.cliente.user.username }}"
                                                   class="btn btn-default"> <i
                                                        class="fa fa-phone-square"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.option').click(function () {
                $('#loading').show();
            });
            $('#dashboard').addClass('active');
            $('#table').DataTable({
                responsive: true,
                order: [[1, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });
            $('#table_cart').DataTable({
                responsive: true,
                order: [[1, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });

            setInterval(function () {
                location.reload();
            }, 60000 * 10);

            tour = new Tour({
                name: 'index',
                backdrop: true,
                template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-default' data-role='prev'>« Anterior</button><span data-role='separator'>|</span><button id='prox' class='btn btn-default' data-role='next'>Próximo »</button><button id='fim' class='btn btn-default hidden' data-role='end'>Finalizar</button> </div></div>",
                steps: [
                    {
                        element: ".box.box-primary",
                        placement: "top",
                        title: "Boas vindas",
                        content: "Oi, Seja Bem Vindo ao Sistema do SUPRIR."
                    },
                    {
                        element: ".box.box-primary",
                        placement: "top",
                        title: "Bem vindo",
                        content: "Conte conosco no que precisar, basta clicar no botão Ajuda em Laranja, ou" +
                            "pedir ajuda à nossa IA que poderá lhe auxiliar, clicando no link AJUDA na barra esquerda."
                    },
                    {
                        element: "#ajuda>a",
                        placement: "right",
                        backdrop: false,
                        title: "Ajuda",
                        content: "Neste botão você poderá requisitar a ajuda da nossa IA, que irá lhe informar sobre cada detalhe presente na tela.",
                        onNext: function (tour) {
                            $('#configurar-telegram').modal('show');
                        }
                    },
                    {
                        element: "#configurar-telegram",
                        placement: "top",
                        title: "Configurar Telegram Alerta",
                        content: "Configure abaixo o sistema de alerta.",
                        onShow: function (tour) {
                            var timeOut = setTimeout(function () {
                                tour.end();
                            }, 2000);

                        },
                    },
                ]
            });
            tour.start()

        });
    </script>

{% endblock %}