{% extends 'panel/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    {% include 'utils/breadcrumb.html' with title='Editar Perfil' subtitle='Adicione ou remova os itens que vão ser mostrados em seu perfil dentro da plataforma.' link1='Editar Perfil' %}

    <div class="box box-primary" style="margin-top: 30px;">
        <div class="box-header">
            <h3 class="box-title">
                <center style="font-size: 20px;">Editar Perfil</center>
            </h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_user.as_p }}
                        {{ form.as_p }}
                    </div>
                </div>
                <hr/>
            </div>
            <!-- /.box-body -->
            <div class=" box-footer ">
                <a href="{% url 'dashboard-profissional' %}" id="btn_cancelar"
                   class="btn btn-default pull-left">Voltar</a>
                <button type="submit" id="btn_salvar" class="btn btn-primary pull-right">Atualizar
                </button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#profile').addClass('active');
            $('[name=cidade],[name=estado]').attr('readonly', true);
            $('[name=cep]').focusout(function () {
                $('#loading').show();
                var cep = $('[name=cep]');
                var cepCode = cep.val().replace('.', '').replace('-', '');
                console.log('cep pesquisado:', cepCode);
                if (cepCode.length <= 0) {
                    $('#loading').hide();
                    return;
                }

                $.ajax({
                    type: 'GET',
                    url: 'https://ws.apicep.com/busca-cep/api/cep.json',
                    data: {code: cepCode},
                    success: function (result) {
                        $('#loading').hide();
                        if (result.status == 0) {
                            alert(result.message || "Houve um erro desconhecido");
                            return;
                        } else {
                            //$('[name=cidade],[name=estado],[name=endereco], [name=numero], [name=bairro]').attr('readonly', false);
                            $('[name=cep]').val(result.code);
                            $('[name=cidade]').val(result.city);
                            var index = result.address.search('-');
                            if (index != -1) {
                                address = result.address.substring(0, index);
                            } else {
                                address = result.address;
                            }
                            $('[name=endereco]').val(address);
                            $('[name=bairro]').val(result.district);
                            $('[name=estado]').val(result.state);
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}