{% extends 'panel/base.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}

    <style>
        .small-box .icon {
            font-size: 70px;
        }
    </style>
    {% include 'utils/loading.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary" id="clientes">
                <div class="box-header">
                    <h3 class="box-title">
                        Meus Clientes
                    </h3>
                </div>
                <div class="box-header">
                </div>
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>CLIENTE</th>
                                        <th>ID</th>
                                        <th>BAIRRO</th>
                                        <th>CIDADE</th>
                                        <th>TELEFONE</th>
                                        <th>DATA</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cliente in clientes %}
                                        <tr>
                                            <td>
                                                {{ cliente.user.first_name }} {{ cliente.user.last_name }}
                                            </td>
                                            <td>
                                                {{ cliente.id }}
                                            </td>
                                            <td>
                                                {% if cliente.bairro %}
                                                    {{ cliente.bairro }}
                                                {% endif %}
                                            </td>
                                            <td>{{ cliente.cidade }}</td>
                                            <td>{{ cliente.user.username }}</td>
                                            <td>
                                                {{ cliente.created_at|date:"d/m/Y G:i" }}
                                            </td>
                                            <td class="text-center">
                                                <!-- <a href=""> <i
                                                        class="fa fa-eye"></i></a> -->
                                                <a target="_blank"
                                                   href="https://api.whatsapp.com/send?phone={{ cliente.telefone_1|get_numero_telefone_zap }}"
                                                   class="btn btn-default"> <i
                                                        class="fa fa-whatsapp"></i></a>
                                            </td>
                                            <td class="text-center">
                                                <!--<a href=""> <i
                                                        class="fa fa-trash-o"></i></a> -->
                                                <a href="tel:{{ cliente.telefone_1|get_numero_telefone_zap }}"
                                                   class="btn btn-default"> <i
                                                        class="fa fa-phone-square"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientes').addClass('active');
            $('#table').DataTable({
                responsive: true,
                order: [[6, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });

        });
    </script>

{% endblock %}