{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Primary Meta Tags -->
    <title>Suprir — Apoiando o seu negócio.</title>
    <meta name="title" content="Suprir — Apoiando o seu negócio.">
    <meta name="description"
          content="O Suprir tem como finalidade apoiar a cada profissional com suas profissões e serviços, destacando seus logotipos, como também suas áreas de atuação.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Suprir — Apoiando o seu negócio.">
    <meta property="og:description"
          content="O Suprir tem como finalidade apoiar a cada profissional com suas profissões e serviços, destacando seus logotipos, como também suas áreas de atuação.">
    <meta property="og:image"
          content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Suprir — Apoiando o seu negócio.">
    <meta property="twitter:description"
          content="O Suprir tem como finalidade apoiar a cada profissional com suas profissões e serviços, destacando seus logotipos, como também suas áreas de atuação.">
    <meta property="twitter:image"
          content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="max-age=604800">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'theme-store/img/favicon.ico' %}" rel="shortcut icon"
          type="image/x-icon">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/static/theme/js/jquery-1.11.0.min.js"><\/script>')
    </script>

    <!-- Bootstrap4 files-->
    <script src="{% static 'theme-store/js/bootstrap.bundle.min.js' %}"
            type="text/javascript"></script>
    <link href="{% static 'theme-store/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- Font awesome 5 -->
    <link href="{% static 'theme-store/css/all.min.css' %}" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="{% static 'theme-store/css/ui.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'theme-store/css/responsive.css' %}" rel="stylesheet" type="text/css">

    <!-- custom javascript -->
    <script src="{% static 'theme-store/js/script.js' %}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/brands.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/regular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/solid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/v4-shims.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/regular.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/svg-with-js.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/v4-shims.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'theme-store/css/sweetalert.min.css' %}"/>


    <style>
        .hidden {
            display: none !important;
        }
    </style>

    <style>
        .checked {
            color: orange !important;
        }
    </style>

    {#    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"#}
    {#          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">#}
</head>
<evlist></evlist>
<body style="">
<header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-12">
                    <a href="{% url 'index' %}" class="brand-wrap">
                        <img class="logo" src="{% static 'theme-store/img/logo_atual.png' %}">
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-xl-6 col-lg-5 col-md-6">
                    <form action="{% url 'index' %}" method="get"
                          class="search-header">{% csrf_token %}
                        <div class="input-group w-100">
                            {{ form_query.query }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </div> <!-- col.// -->
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header mr-3">
                            {% if user.is_authenticated %}
                                <a href="#"
                                   class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user"></i>
                                        <!--<span class="notify">1</span> -->
                                    </div>
                                    <small class="text"> Meu Perfil</small>
                                </a>
                            {% else %}
                                <a href="{% url 'login' %}"
                                   class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                                    </div>
                                    <small class="text">Entrar</small>
                                </a>
                            {% endif %}
                        </div>
                        {% if  user.is_authenticated %}
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-store"></i>
                                    </div>
                                    <small class="text"> Contratos</small>
                                </a>
                            </div>
                            <div class="widget-header mr-3">
                                <a href="#" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <small class="text"> Carrinho</small>
                                </a>
                            </div>
                            <div class="widget-header">
                                <a href="{% url 'logout' %}" class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-sign-out-alt"></i>
                                    </div>
                                    <small class="text"> Sair</small>
                                </a>
                            </div>
                        {% else %}
                            <div class="widget-header mr-3">
                                <a href="{% url 'registro-cliente' %}"
                                   class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    </div>
                                    <small class="text">Registrar</small>
                                </a>
                            </div>
                            <div class="widget-header">
                                <a href="{% url 'area-profissional' %}"
                                   class="widget-view">
                                    <div class="icon-area">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <small class="text" style="max-width: 180px;"> Área para Profissionais</small>
                                </a>
                            </div>
                        {% endif %}
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->

    <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
                    aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           href="#"> <i
                                class="fa fa-bars text-muted mr-2"></i> Categorias </a>
                        <div class="dropdown-menu">
                            {% for categoria in categorias %}
                                <a class="dropdown-item"
                                   href="{% url 'index' %}?categoria={{ categoria.id }}">{{ categoria.categoria }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link servicos-menu"
                           href="{% url 'index' %}">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profissionais-menu"
                           href="{% url 'list-profissionais' %}">Profissionais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sobre-menu"
                           href="{% url 'sobre' %}">Sobre o Projeto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link faq-menu"
                           href="#">F.A.Q</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contato-menu"
                           href="{% url 'fale-conosco' %}">Fale Conosco</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#">Ajuda</a>
                    </li>
                </ul>
            </div> <!-- collapse .// -->
        </div> <!-- container .// -->
    </nav>
</header> <!-- section-header.// -->


{% block content %}
    {% include 'utils/loading.html' %}
{% endblock %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-y-lg text-white">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Profissional</h6>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'registro-profissional' %}">Registro</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Organização</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Regras e Termos</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Ajuda</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Fale Conosco</a></li>
                        <li><a href="#">F.A.Q</a></li>
                        <li><a href="#">Ajuda na Tela</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title">Cliente</h6>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'login' %}"> Login </a></li>
                        <li><a href="{% url 'registro-cliente' %}"> Registro </a></li>
                        <li><a href="#"> Meus Contratos </a></li>
                        <li><a href="#"> Carrinho </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> <i
                                class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a href="#"> <i
                                class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a href="#"> <i
                                class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"> <i
                                class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section>    <!-- footer-top.// -->

        <section class="footer-bottom text-center">

            <p class="text-white">Política de Privacidade - Termos de Uso - Informações do Usuário Guia de Consulta
                Legal</p>
            <p class="text-muted"> © 2020 Suprir, Todos os direitos reservados </p>
            <br>
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{% include 'utils/loading.html' %}
<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script type="text/javascript" src="{% static 'theme-store/js/sweetalert.min.js' %}"></script>


<!-- Start of  Zendesk Widget script -->
<script id="ze-snippet"
        src="https://static.zdassets.com/ekr/snippet.js?key=0438573b-182c-4158-b1db-20cbd12c45b7"></script>
<!-- End of  Zendesk Widget script -->


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script>
                $(document).ready(function () {
                    swal("Erro", "{{ message|safe }}", "error")
                });
            </script>
        {% else %}
            <script>
                $(document).ready(function () {
                    swal("Sucesso", "{{ message|safe }}", "success")
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>