{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">Como Funciona ?</h2>
        </div> <!-- container .// -->
    </section>


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <img src="{% static 'theme-store/img/org.jpg' %}" class="img-responsive img-thumbnail"/>
            <hr/>
            <p>Nosso sistema tem como finalidade apoiar a cada profissional que
                desenvolve sua atividade laboral, e que
                alcançar também seus negócios e produtos. O
                grupo no WhatsApp já está em pleno
                funcionamento ajudando os nossos irmãos com
                suas respectivas profissões. Lembrando que o
                objetivo maior é cumprir o desejo do Senhor que
                é abençoar os nossos irmãos.</p>
            <p>O Sistema funciona de maneira bem simples. Inicialmente um <b>Profissional</b> cadastra
                seus serviços e aguarda por pedidos de serviço. Um <b>Cliente</b> acessa nossa loja de serviços,
                se cadastra e faz login no sistema. Assim, ele pode contatar o profissional para tirar duvidas.
                Então, ele contrata um serviço e gera um contrato, e por fim aguarda o profissional dar andamento
                ao contrato aberto. Pronto! Um documento de contrato vai ser gerado para ser impresso e assinado,
                para ambas as partes.</p>
            <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> « Voltar</a>


        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}