{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">Fale Conosco</h2>
        </div> <!-- container .// -->
    </section>


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">
            <p>Preparamos este espaço para você poder enviar sua mensagem. É importante para nós receber um feedback da
                sua parte. Caso tenha qualquer problema nos comunique!</p>
            <div class="row ">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form id="form" method="post" action="">{% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <button id="enviar" class="btn btn-primary btn-lg" type="submit">Enviar</button>
                        </div>

                    </form>

                </div>

            </div>


            <a href="javascript: history.back()" class="btn btn-light"> « Voltar</a>
        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
            $('.contato-menu').addClass('checked');

            $('#enviar').click(function () {
                    var form = document.getElementById('form');
                    for (var i = 0; i < form.elements.length; i++) {
                        if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                            $('#loading').hide();
                            swal("Alerta", "Preencha todos os campos obrigatorios", "info");
                            return false;
                        }
                    }
                    $('#loading').show();
                });
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}