{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <!-- ============================  FILTER TOP  ================================= -->
            <div class="card mb-3">
                <div class="card-body">
                    <ol class="breadcrumb float-left">
                        <li class="breadcrumb-item active"><a
                                href="{% url 'index' %}">Início</a>
                        </li>
                    </ol>
                </div> <!-- card-body .// -->
            </div> <!-- card.// -->
            <!-- ============================ FILTER TOP END.// ================================= -->


            <div class="row">
                <aside class="col-md-2">
                    <form name="form-filter" method="get" action="">{% csrf_token %}
                        <article class="filter-group">
                            <h6 class="title">
                                <a href="#"
                                   class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">
                                    Estado: </a>
                            </h6>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="inner">
                                    <div class="form-row">
                                        {{ form.estado }}
                                    </div>
                                </div> <!-- inner.// -->
                            </div>
                        </article> <!-- filter-group  .// -->
                        <article class="filter-group">
                            <h6 class="title">
                                <a href="#"
                                   class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2">Cidade: </a>
                            </h6>
                            <div class="filter-content collapse show" id="collapse_2" style="">
                                <div class="inner">
                                    <div class="form-row">
                                        {{ form.cidade }}
                                    </div>
                                </div> <!-- inner.// -->
                            </div>
                        </article> <!-- filter-group  .// -->
                        <article class="filter-group">
                            <h6 class="title">
                                <a href="#"
                                   class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3">
                                    Categorias </a>
                            </h6>
                            <div class="filter-content collapse show" id="collapse_3">
                                <div class="inner">
                                    {% for item_categoria in filter_categorias %}
                                        <label class="custom-control custom-checkbox"
                                               data-toggle="tooltip" title=""
                                               data-original-title="{{ item_categoria.categoria.descricao }}">
                                            <input name="{{ item_categoria.categoria.id }}_filter" type="checkbox"
                                                   class="custom-control-input">
                                            <div class="custom-control-label">{{ item_categoria.categoria }}
                                                <!--<b class="badge badge-pill badge-light float-right">{{ item_categoria.quantidade }}</b> -->
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div> <!-- inner.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <h6 class="title">
                                <a href="#"
                                   class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Preço </a>
                            </h6>
                            <div class="filter-content collapse show" id="collapse_4">
                                <div class="inner">
                                    <input type="range" class="custom-range" min="0" max="1000" name="range-money">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            {{ form.preco_min }}
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            {{ form.preco_max }}
                                            {{ form.ordering }}
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <hr/>
                                    <button class="btn btn-block btn-primary">Filtrar</button>
                                </div> <!-- inner.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </form>
                </aside> <!-- col.// -->
                <main class="col-md-10">


                    <header class="mb-3">
                        <div class="form-inline">
                            <strong class="mr-md-auto">{{ page_obj.paginator.count }} Itens encontrados </strong>
                            <form name="form_order" action="?{{ params|get_url_search }}" method="get">{% csrf_token %}
                                <select class="mr-2 form-control" name="ordering_visible">
                                    <option value="?">Aleatorio</option>
                                    <option value="-created_at">Ultimos itens</option>
                                    <option value="-valor_base">Maior valor</option>
                                    <option value="valor_base">Menor valor</option>
                                </select>
                            </form>
                            <div class="btn-group">
                                <a href="#"
                                   class="btn btn-light active" data-toggle="tooltip" title=""
                                   data-original-title="Lista de Serviços">
                                    <i class="fa fa-bars"></i></a>
                            </div>
                        </div>
                    </header><!-- sect-heading -->

                    {% for servico in servicos %}
                        <article class="card card-product-list">
                            <div class="row no-gutters">
                                <aside class="col-md-3">
                                    <a href="#"
                                       class="img-wrap">
                                        <!-- <span class="badge badge-danger"> NEW </span> -->
                                        <img src="{{ servico.fotoservico_set.first.url }}">
                                    </a>
                                </aside> <!-- col.// -->
                                <div class="col-md-6">
                                    <div class="info-main">
                                        <a href="#"
                                           class="h5 title"> {{ servico.titulo }}</a>
                                        <div class="rating-wrap mb-2">
                                            <ul class="rating-stars">
                                                <li style="width:80%">
                                                    <i class="fa fa-star checked"></i> <i
                                                        class="fa fa-star checked"></i>
                                                    <i class="fa fa-star checked"></i> <i
                                                        class="fa fa-star checked"></i>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                            <div class="label-rating">{{ servico|get_avaliacao_media }}/10</div>
                                        </div>

                                        <p class="mb-3">
                                            <span class="tag"> <i
                                                    class="fa fa-camera"></i> {{ servico.fotoservico_set.all|length }}</span>
                                            <span class="tag"> <i
                                                    class="fa fa-check"></i> {{ servico|get_qtd_realizados }} Realizados</span>
                                            <span class="tag"> <i
                                                    class="fa fa-tags"></i> {{ servico.profissional.categoria.categoria }} </span>
                                            <span class="tag"> {{ servico.profissional.estado }} </span>
                                        </p>

                                        <p> {{ servico.descricao|truncatechars:218 }} </p>

                                    </div> <!-- info-main.// -->
                                </div> <!-- col.// -->
                                <aside class="col-sm-3">
                                    <div class="info-aside">
                                        <div class="price-wrap">
                                            <span class="h5 price">R$ {{ servico.valor_base|floatformat:2 }}</span>
                                            <small class="text-muted">/por serviço</small>
                                        </div> <!-- price-wrap.// -->
                                        <small class="text-warning">{{ servico.profissional.cidade }}-{{ servico.profissional.estado }}</small>

                                        <p class="text-muted mt-3">{{ servico.profissional }}</p>
                                        <p class="mt-3">
                                            <a href="{% url 'view-servico' servico.pk %}"
                                               class="btn btn-outline-primary"> <i class="fa fa-plus"></i> Contratar
                                            </a>
                                            <a href="tel:{{ servico.profissional.user.username }}"
                                               class="btn btn-light"><i class="fa fa-phone-alt"></i> Contato </a>
                                        </p>
                                    </div> <!-- info-aside.// -->
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                        </article> <!-- card-product .// -->
                    {% empty %}
                        <article class="card card-product-list">
                            <div class="row no-gutters">
                                <aside class="col-md-3">
                                    <a href="#"
                                       class="img-wrap">
                                    </a>
                                </aside> <!-- col.// -->
                                <div class="col-md-9">
                                    <div class="info-main">
                                        <a href="#"
                                           class="h5 title"> Nenhum serviço encontrado.</a>
                                        <p></p>

                                    </div> <!-- info-main.// -->
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        </article> <!-- card-product .// -->

                    {% endfor %}

                    {% if servicos %}
                        <nav class="mb-4" aria-label="Page navigation sample">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}{{ params|get_url_search }}">
                                            Anterior</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.number != 1 and page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ page_obj.previous_page_number }}{{ params|get_url_search }}">
                                            {{ page_obj.previous_page_number }}</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="?page={{ page_obj.number }}{{ params|get_url_search }}">
                                            {{ page_obj.number }}</a>
                                    </li>
                                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                                {{ page_obj.next_page_number }}
                                            </a>
                                        </li>
                                        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page=
                                                        {{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                                    {{ page_obj.paginator.num_pages }}</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                                Próximo</a>
                                        </li>
                                    {% elif page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page=
                                                       {{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                                {{ page_obj.paginator.num_pages }}</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                                Próximo</a>
                                        </li>
                                    {% endif %}

                                {% else %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page=1{{ params|get_url_search }}">1</a>
                                    </li>
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                                {{ page_obj.next_page_number }}</a>
                                        </li>
                                        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page=
                                                    {{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                                    {{ page_obj.paginator.num_pages }}</a>
                                            </li>
                                        {% endif %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=
                                                {{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                                Próximo</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </main> <!-- col.// -->

            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <script>
        $(document).ready(function () {
            $('.servicos-menu').addClass('checked');
            var inputs = $("[name*='_filter']");
            var list_arr = {{ params|get_array_categories_on_select|safe }};
            inputs.each(function (obj) {
                if (list_arr.includes($(this)[0].name)) {
                    console.log($(this)[0].name);
                    $(this)[0].checked = true;
                }
                //($(this)[0].name)
            });

            $('[name=range-money]').change(function () {
                $('[name=preco_max]').val($(this).val());
            });

            $('[name=ordering]').addClass('hidden').val('?');
            $('[name=ordering_visible]').change(function () {
                $('[name=ordering]').val($(this).val());
            });
            if (mobileCheck()) {
                console.log('mobile connected phone');
                $('[name=form-filter]').toggle();
                $('.breadcrumb-item a').text('Filtros: ').attr('href', '#').append('<i class="fa fa-arrow-down"></i>').click(function () {
                    $('[name=form-filter]').toggle();
                });
            }
        });
    </script>
{% endblock %}
