{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% load djmoney %}
{% block content %}
    <section class="py-3 bg-light">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="breadcrumb-item"><a
                        href="{% url 'index' %}">{{ servico.profissional.categoria.categoria }}
                </a></li>
                <li class="breadcrumb-item active"><a
                        href="#">{{ servico }}</a></li>
            </ol>
        </div>
    </section>

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <!-- ============================ ITEM DETAIL ======================== -->
            <div class="row">
                <aside class="col-md-6">
                    <div class="card">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div>
                                    <a href="#"><img
                                            src="{{ servico.fotoservico_set.first.url }}"></a></div>
                            </div> <!-- slider-product.// -->
                            <div class="thumbs-wrap">
                                {% for foto in servico.fotoservico_set.all %}
                                    {% if foto.is_approved %}
                                        <a href="{{ foto.url }}" target="_blank"
                                           class="item-thumb"> <img src="{{ foto.url }}"></a>
                                    {% endif %}

                                {% empty %}
                                {% endfor %}
                            </div> <!-- slider-nav.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </div> <!-- card.// -->
                </aside>
                <main class="col-md-6">
                    <article class="product-info-aside">

                        <h2 class="title mt-3">{{ servico.titulo }}</h2>

                        <div class="rating-wrap my-3">
                            <ul class="rating-stars">
                                <li style="width:80%">
                                    {% with media=servico|get_avaliacao_media %}
                                        {% if media < 3 %}
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        {% elif media >= 3 and media < 5 %}
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        {% elif media >= 5 and media < 7 %}
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        {% elif media >= 7 and media < 9 %}
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star"></i>
                                        {% elif media >= 9 %}
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i> <i
                                                class="fa fa-star checked"></i>
                                            <i class="fa fa-star checked"></i>
                                        {% endif %}
                                    {% endwith %}
                                </li>
                            </ul>
                            <small class="label-rating text-muted">{{ servico|get_avaliacao_media }}/10</small>
                            <small class="label-rating text-success"> <i
                                    class="fa fa-clipboard-check"></i> {{ servico|get_qtd_realizados }} realizados
                            </small>
                        </div> <!-- rating-wrap.// -->

                        <div class="mb-3">
                            {% if servico.valor_a_combinar %}
                                <var class="price h4">Valor a Combinar</var>
                            {% else %}
                                <var class="price h4">{% money_localize servico.valor_base %}</var>
                            {% endif %}

                        </div> <!-- price-detail-wrap .// -->

                        <p>{{ servico.descricao }} </p>


                        <dl class="row">
                            <dt class="col-sm-3">Quem oferece</dt>
                            <dd class="col-sm-9"><a
                                    href="{% url 'list-services-profissional' servico.profissional.id %}">{{ servico.profissional }}</a></dd>

                            <dt class="col-sm-3">Fotos</dt>
                            <dd class="col-sm-9">
                                <i class="fa fa-camera"></i> {{ servico.fotoservico_set.all|length }}
                            </dd>

                            <dt class="col-sm-3">Servicos</dt>
                            <dd class="col-sm-9"><i
                                    class="fa fa-check"></i> {{ servico|get_qtd_realizados }} Realizados
                            </dd>

                            <dt class="col-sm-3">Categoria</dt>
                            <dd class="col-sm-9"><i
                                    class="fa fa-tags"></i> {{ servico.profissional.categoria.categoria }}</dd>

                            <dt class="col-sm-3">Estado</dt>
                            <dd class="col-sm-9">{{ servico.profissional.estado }}</dd>

                            <dt class="col-sm-3">Cidade</dt>
                            <dd class="col-sm-9">{{ servico.profissional.cidade }}</dd>
                        </dl>

                        <div class="form-row  mt-4">
                            <div class="form-group col-md">
                                {% if not user.profissional %}
                                    <form action="{% url 'add-carrinho' %}" method="post">{% csrf_token %}
                                        <input class="hidden" type="text" name="idservico" value="{{ servico.id }}"/>
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-shopping-cart"></i> <span
                                                class="text">Adicionar ao Carrinho</span>
                                        </button>
                                    </form>
                                {% endif %}
                                <br/>
                                {% if user.is_authenticated %}
                                    <a href="tel:{{ servico.profissional.user.username }}"
                                       class="btn btn-light">
                                        <i class="fas fa-envelope"></i> <span class="text">Contatar</span>
                                    </a>
                                {% endif %}
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->

            <!-- ================ ITEM DETAIL END .// ================= -->


        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}