{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">Perguntas Frequentes</h2>
        </div> <!-- container .// -->
    </section>


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <h5 class="card-title">Quais as formas de pagamento possíveis?</h5>
            <p> O SUPRIR é integrado com criptografia SSL, que possibilita o pagamento das compras em ambiente seguro no cartão de crédito, boleto bancário, depósito bancário e etc, porém, não
                processamos nenhum tipo de pagamento no modelo cliente-profissional. Caso contrate algum profissional, é dever do profissional combinar com o cliente a melhor maneira de receber pelo
                serviço. Como não processamos pagamentos, nos tornamos apenas MEDIADOR durante o processo de busca por serviços.</p>
            <h5 class="card-title">É possível parcelar minhas compras?</h5>
            <p>Não. Nós do SUPRIR não processamos pagamentos.</p>

            <h5 class="card-title"> Como funciona o sistema de entrega?</h5>
            <p>Os serviços contratados serão enviados em formato de alerta por email e por nosso sistema de alerta padrão do sistema ao profissional contratado. Assim, ele irá entrar em contato com o
                cliente informando o melhor formato para a entrega ou realização do serviço.</p>


            <h5 class="card-title">Qual o prazo médio de realização dos serviços?</h5>
            <p>Nós pedimos aos profissionais que realizem o serviço o mais rápido possível. Em casos mais extremos, nós permitimos até 3 dias úteis até que ocorra o primeiro contato do profissional
                com o cliente. Caso você tenha problemas, fale conosco pelo link Fale Conosco, ou então nos encaminhe os problemas no botão laranja AJUDA.</p>

            <p>Tem mais alguma dúvida? Mande um email para suporte.suprir@gmail.com</p>
            <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> « Voltar</a>
        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}