{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">Política de Privacidade</h2>
        </div> <!-- container .// -->
    </section>


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <h5 class="card-title">Política de Privacidade</h5>
            <p>O SUPRIR tem o compromisso com a privacidade e a segurança de seus clientes durante todo o processo de navegação e compra pelo site. Seus dados cadastrais (como nome, endereço e CPF)
                nunca serão vendidos, trocados ou divulgados para terceiros, exceto quando essas informações são necessárias para o processo de entrega e para cobrança. Seus dados pessoais são peça
                fundamental para que seu pedido chegue em segurança, na sua casa, de acordo com nosso prazo de entrega.</p>

            <p> O SUPRIR utiliza cookies e informações de sua navegação (sessão do browser) com o objetivo de traçar um perfil do público que visita o site e aperfeiçoar sempre nossos serviços,
                produtos, conteúdos e garantir as melhores ofertas e promoções para você. Durante todo este processo mantemos suas informações em sigilo absoluto. Vale lembrar que seus dados são
                registrados pelo SUPRIR de forma automatizada, dispensando manipulação humana.</p>

            <p> Para que estes dados permaneçam intactos evite compartilhar sua senha com outras pessoas, mesmo que sejam amigos e parentes.</p>

            <p> Cadastre-se e contrate os serviços com tranquilidade, sem preocupações.</p>

            <p> As alterações sobre nossa política de privacidade serão devidamente informadas neste espaço. </p>
            <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> « Voltar</a>
        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}