{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">
            <!-- ============================  FILTER TOP  ================================= -->
            <form method="get" action="">{% csrf_token %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"> Você está aqui:</div> <!-- col.// -->
                            <nav class="col-md-8">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a
                                            href="{% url 'index' %}">Início</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Profissionais</li>
                                </ol>
                            </nav> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr>
                        <div class="row">
                            {{ form.ordering }}
                            <div class="col-md-2">Filtrar por</div> <!-- col.// -->
                            <div class="col-md-10">
                                <ul class="list-inline">
                                    <li class="list-inline-item mr-3">
                                        <div class="form-inline">
                                            <label class="mr-2">Estado:</label>
                                            {{ form.estado }}
                                        </div>
                                    </li>
                                    <li class="list-inline-item mr-3">
                                        <div class="form-inline">
                                            <label class="mr-2">Cidade:</label>
                                            {{ form.cidade }}
                                        </div>
                                    </li>
                                    <li class="list-inline-item mr-3 dropdown">
                                        <a href="#"
                                           class="dropdown-toggle" data-toggle="dropdown"> Categorias </a>
                                        <div class="dropdown-menu p-3">
                                            {% for item_categoria in filter_categorias %}
                                                <label class="form-check" data-toggle="tooltip" title=""
                                                       data-original-title="{{ item_categoria.categoria.descricao }}">
                                                    <input name="{{ item_categoria.categoria.id }}_filter"
                                                           type="checkbox"
                                                           class="form-check-input">
                                                    {{ item_categoria.categoria.categoria }}
                                                </label>
                                            {% endfor %}
                                        </div> <!-- dropdown-menu.// -->
                                    </li>
                                    <li class="list-inline-item mr-3">
                                        <div class="form-inline">
                                            <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </div> <!-- card.// -->
            </form>
            <!-- ============================ FILTER TOP END.// ================================= -->

            <header class="mb-3">
                <div class="form-inline">
                    <strong class="mr-md-auto">{{ page_obj.paginator.count }} Itens encontrados </strong>
                    <form name="form_order" action="?{{ params|get_url_search }}" method="get">{% csrf_token %}
                        <select class="mr-2 form-control" name="ordering_visible">
                            <option value="?">Aleatorio</option>
                            <option value="-created_at">Ultimos cadastrados</option>
                            <option value="user">A -> Z</option>
                            <option value="-user">Z -> A</option>
                        </select>
                    </form>
                    <div class="btn-group">
                        <a href="#"
                           class="btn btn-light active" data-toggle="tooltip" title=""
                           data-original-title="Grade de Profissionais">
                            <i class="fa fa-th"></i></a>
                    </div>
                </div>
            </header><!-- sect-heading -->

            <div class="row">
                {% for profissional in profissionais %}
                    <div class="col-md-3">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <img src="{{ profissional.photo }}">
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <a href="#"
                                   class="title mb-2"> {{ profissional.user.first_name }} {{ profissional.user.last_name }}</a>
                                <div class="price-wrap" data-toggle="tooltip" title=""
                                     data-original-title="{{ profissional.categoria.descricao }}">
                                    <span class="price">{{ profissional.categoria }}</span>
                                </div> <!-- price-wrap.// -->

                                <p class="text-muted ">{{ profissional.cidade }} - {{ profissional.estado }}</p>

                                <hr>

                                <p class="mb-3">
                                    <span class="tag"> <i
                                            class="fa fa-check"></i> {{ profissional.servico_set.all|length }} serviços cadastrados</span>
                                </p>


                                <a href="tel:{{ profissional.user.username }}"
                                   class="btn btn-outline-primary"> <i class="fa fa-phone-alt"></i> Entrar em Contato
                                </a>

                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                {% empty %}
                    <div class="col-md-12">
                        <figure class="card card-product-grid">
                            <figcaption class="info-wrap">
                                <a href="#"
                                   class="title mb-2">Nenhum profissional encontrado.</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row end.// -->

            {% if profissionais %}
                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number }}{{ params|get_url_search }}">
                                    Anterior</a>
                            </li>
                        {% endif %}

                        {% if page_obj.number != 1 and page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number }}{{ params|get_url_search }}">
                                    {{ page_obj.previous_page_number }}</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link"
                                   href="?page={{ page_obj.number }}{{ params|get_url_search }}">
                                    {{ page_obj.number }}</a>
                            </li>
                            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                        {{ page_obj.next_page_number }}
                                    </a>
                                </li>
                                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=
                                                        {{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                            {{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                        Próximo</a>
                                </li>
                            {% elif page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                        {{ page_obj.paginator.num_pages }}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                        Próximo</a>
                                </li>
                            {% endif %}

                        {% else %}
                            <li class="page-item active">
                                <a class="page-link" href="?page=1{{ params|get_url_search }}">1</a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                        {{ page_obj.next_page_number }}</a>
                                </li>
                                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page=
                                                    {{ page_obj.paginator.num_pages }}{{ params|get_url_search }}">
                                            {{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ page_obj.next_page_number }}{{ params|get_url_search }}">
                                        Próximo</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}

        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
            $('.profissionais-menu').addClass('checked');
            var inputs = $("[name*='_filter']");
            var list_arr = {{ params|get_array_categories_on_select|safe }};
            inputs.each(function (obj) {
                if (list_arr.includes($(this)[0].name)) {
                    console.log($(this)[0].name);
                    $(this)[0].checked = true;
                }
                //($(this)[0].name)
            });

            $('[name=ordering]').addClass('hidden').val('?');
            $('[name=ordering_visible]').change(function () {
                $('[name=ordering]').val($(this).val());
            });
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}