{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <section class="section-pagetop bg-light">
        <div class="container">
            <h2 class="title-page">Regras e Termos</h2>
        </div> <!-- container .// -->
    </section>


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <h5 class="card-title">CONSIDERAÇÕES GERAIS</h5>
            <p>Nossa política de mediação foi elaborada de acordo com o Código de Defesa do Consumidor (Lei 8.078 de 11 de setembro de 1990), visando seguir as regras legais de relacionamento entre
                empresa e consumidores. Nos comprometemos a tratar todas as ocorrências de acordo com o que manda o CDC e a legislação comercial brasileira.

                É importante que sejamos comunicados através de nossa central de atendimento caso haja qualquer problema ou ocorrência em sua negociação, para que possamos analisar a situação e
                solucioná-la da melhor forma possível. </p>
            <br><br>


            <a href="javascript: history.back()" class="btn btn-light"> « Voltar</a>


        </div> <!-- container .//  -->
    </section>

    <script>
        $(document).ready(function () {
        });
    </script>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}